## Question 1: What is a database? Differentiate between SQL and NoSQL databases.
---

## Answer:

A database is a collection of organized data that is stored and managed on a computer system. It allows for efficient storage, retrieval, and manipulation of large amounts of data. A database system typically consists of software that manages the data, a database server that stores the data, and one or more applications that access the data. It is an organized collection of data that can be easily accessed, managed, and updated. It can be a physical or a digital storage system where data is stored in tables, documents, key-value pairs, or graphs, depending on the type of database.



SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that use different methods for storing and retrieving data. Here are some key differences between the two:

|      Feature   | SQL databases                              | NoSQL databases                    |
| :---------:    | :----------------------------------------  | :--------------------------------  |
| Data model     | Relational data model                      | Flexible data model                |
| Query language | SQL                                        | Database-specific query language   |
| Scalability    | Vertically scalable                        | Horizontally scalable              |
| Consistency    | Strong consistency                         | May offer weaker consistency models|
| Usage          | Complex queries and transactions           | Fast and flexible data processing  |

Here are some examples of each databases:
1. SQL Databases:
    * mySQL
    * Oracle
    * PostgreSQL
    * Microsoft SQL Server
    * SQLite
2. NoSQL Databases:
    * MongoDB (document-oriented)
    * Cassandra (column-family)
    * Redis (key-value)
    * Neo4j (graph)
    * Amazon DynamoDB (document-oriented)

It's worth noting that there are many different types of NoSQL databases, each with their own strengths and weaknesses. For example, document-oriented databases like MongoDB are great for storing unstructured data such as JSON documents, while graph databases like Neo4j are ideal for modeling complex relationships between data points.

Similarly, there are many different types of SQL databases, each with their own features and benefits. For example, MySQL is a popular choice for web applications due to its fast performance and scalability, while PostgreSQL is often used for data warehousing and business intelligence applications due to its advanced query optimization capabilities.

Ultimately, the choice between SQL and NoSQL databases will depend on the specific requirements of your application and the type of data you need to store and process.



SQL (Structured Query Language) and NoSQL (Not only SQL) are two types of database management systems that differ in their data models, query languages, and scalability.

SQL databases are relational databases that store data in tables with a predefined schema. SQL databases use a declarative language (SQL) to manipulate data and support ACID (Atomicity, Consistency, Isolation, and Durability) transactions. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases, on the other hand, are non-relational databases that store data in flexible, schemaless documents, key-value pairs, or graphs. NoSQL databases use various query languages, including document-oriented query language, graph query language, or key-value query language, to manipulate data. NoSQL databases are designed for scalability and high availability and can handle big data efficiently. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, SQL databases are well-suited for structured data with a fixed schema and support ACID transactions, while NoSQL databases are designed for unstructured or semi-structured data and offer greater scalability and flexibility.

## Question 2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
---

DDL stands for Data Definition Language, which is a subset of SQL statements used to define and manage the structure of a database.

CREATE is a DDL statement that is used to create a new database, table, view, or other database object. For example, to create a new table named "employees" with columns for ID, name, and department, the following SQL statement can be used:

create table employee ( id int primary key , name varchar(200) , department varchar(30) ) ;

DROP is a DDL statement used to delete an existing database, table, view, or other database object. For example, to delete the "employees" table, the following SQL statement can be used:

drop table employees ;

ALTER is a DDL statement used to modify the structure of an existing database object. For example, to add a new column for "salary" to the "employees" table, the following SQL statement can be used:

alter table employees 
add column salary int ;

TRUNCATE is a DDL statement used to remove all data from a table, but keep the table structure intact. For example, to remove all data from the "employees" table, the following SQL statement can be used:

truncate table employees ;

In summary, DDL statements like CREATE, DROP, ALTER, and TRUNCATE are used to define and manage the structure of a database and its objects.

## Question 3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.
---

DML stands for Data Manipulation Language and is used to manipulate data stored in a database. It includes commands such as INSERT, UPDATE, and DELETE.

INSERT: The INSERT statement is used to add new records to a table. Here's an example:

insert into employee ( first_name , last_name , email )
values('john' , 'doe' , 'john.doe@gmail.com');

This statement inserts a new record with the values 'John', 'Doe', and 'john.doe@email.com' into the 'employees' table.

UPDATE: The UPDATE statement is used to modify existing records in a table. Here's an example:

update employees 
set salary = 60000
where employee_id=1234 ;

This statement updates the 'salary' column for the record with an 'employee_id' of 1234 in the 'employees' table to 60000.

DELETE: The DELETE statement is used to delete records from a table. Here's an example:

delete from employees 
where employee_id =5678 ;

This statement deletes the record with an 'employee_id' of 5678 from the 'employees' table.

## Question 4: What is DQL? Explain SELECT with an example.
---

DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to select data from a table in a database.

The basic syntax for the SELECT command is as follows:

In [ ]:
select cloumn1 , column2 , ... from table_name where condition  ;

column1, column2, etc.: the columns you want to retrieve data from (you can use * to retrieve data from all columns).

table_name: the name of the table you want to retrieve data from.

WHERE clause (optional): specifies a condition that must be satisfied for the data to be retrieved.
For example, let's say we have a table named students with the following data:

In [ ]:
+----+---------+-------+-----+
| id | name    | grade | age |
+----+---------+-------+-----+
| 1  | Alice   | A     | 20  |
| 2  | Bob     | B     | 21  |
| 3  | Charlie | A     | 19  |
+----+---------+-------+-----+

To select all columns from the students table, we can use the following command:

In [ ]:
select * from students ;

This will return the following result:

In [ ]:
+----+---------+-------+-----+
| id | name    | grade | age |
+----+---------+-------+-----+
| 1  | Alice   | A     | 20  |
| 2  | Bob     | B     | 21  |
| 3  | Charlie | A     | 19  |
+----+---------+-------+-----+

To select specific columns from the students table, we can specify the column names separated by commas:

In [ ]:
select name , grade from students ;

This will return the following result:

In [ ]:
+---------+-------+
| name    | grade |
+---------+-------+
| Alice   | A     |
| Bob     | B     |
| Charlie | A     |
+---------+-------+

We can also use the WHERE clause to specify a condition for the data to be retrieved. For example, to select only the students who are 20 years old, we can use the following command:

In [ ]:
select * from students where age =20 ;

This will return the following result:

In [ ]:
+----+-------+-------+-----+
| id | name  | grade | age |
+----+-------+-------+-----+
| 1  | Alice | A     | 20  |
+----+-------+-------+-----+

## Question 5: Explain Primary Key and Foreign Key.
---

# primary key
primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.
# foreign key
foreign key is generally used to build a relationship between the two tables.

## Question 6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method
---

Sure, here's an example code to connect to MySQL in Python using the mysql-connector library:

In [ ]:
import mysql.connector 


# establishing the connection 

mydb=mysql.connector.connect(
host ="localhost" ,
user="username" , 
password="password" , 
database="databasename"
)


# creating a cursor object 

mycursor=mydb.cursor()


# executing a sql query 

mycursor.execute("select * from table_name")


# fetching the results 

result = mycursor.fetchall()

# printing the results 


for row in result :
    print(row)

In the above code, we first import the mysql.connector library and then establish a connection to the MySQL server using the connect() method. We pass the required parameters such as the host, username, password, and database name to this method.

Next, we create a cursor object using the cursor() method of the connection object. This cursor is used to execute SQL queries and fetch the results.

We then execute an SQL query using the execute() method of the cursor object. This method takes the SQL query as a parameter and executes it on the database.

Finally, we fetch the results using the fetchall() method of the cursor object, which returns all the rows of the result set as a list of tuples. We then iterate over this list and print each row.

The cursor() method creates a cursor object which is used to execute SQL queries and fetch the results. The execute() method is used to execute an SQL query on the database. It takes the SQL query as a parameter and returns the result (if any) of the query. The fetchall() method is used to fetch all the rows of the result set as a list of tuples.

## Question 7: Give the order of execution of SQL clauses in an SQL query.
---

## Answer: In an SQL query, the clauses are executed in the following order:
1. FROM clause: Specifies the table or tables from which to retrieve data.

2. JOIN clause: Specifies how to join multiple tables together, if needed.

3. WHERE clause: Specifies which rows to retrieve based on a set of conditions.

4. GROUP BY clause: Specifies how to group rows based on one or more columns.

5. HAVING clause: Specifies which groups to retrieve based on a set of conditions.

6. SELECT clause: Specifies which columns to retrieve.

7. DISTINCT clause: Specifies to retrieve only distinct values of the specified columns.

8. ORDER BY clause: Specifies how to sort the retrieved rows based on one or more columns.

9. LIMIT clause: Specifies the maximum number of rows to retrieve.