## Question 1: What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
---

MongoDB is a popular open-source document-oriented NoSQL database that stores data in a flexible, JSON-like format known as BSON (Binary JSON). It provides high performance, scalability, and availability, making it suitable for handling large amounts of unstructured and semi-structured data.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional tabular structure of relational databases. Instead, they use various data models to store and manage data. NoSQL databases are designed to handle large volumes of structured, semi-structured, and unstructured data and provide high performance, scalability, and flexibility.

MongoDB is preferred over SQL databases in scenarios where data is unstructured or semi-structured, and it needs to be stored in a flexible and scalable way. It is also preferred in scenarios where a high volume of data is being generated at a high velocity and needs to be stored and processed quickly. MongoDB's flexible data model and automatic sharding capabilities make it well-suited for big data applications and real-time data processing. It is also commonly used in web applications, content management systems, and mobile apps, among others.

## Question 2: State and Explain the features of MongoDB.
---

MongoDB is a popular NoSQL database management system that offers various features that differentiate it from traditional SQL databases. Some of the key features of MongoDB are:

Document-oriented: MongoDB is a document-oriented database, which means it stores data in JSON-like documents that can have nested structures. This allows for greater flexibility and scalability, as it enables the storage of semi-structured and unstructured data.

Dynamic schema: MongoDB does not enforce a strict schema, which allows for more flexible and iterative development. New fields can be added to documents on-the-fly, and there is no need to alter existing documents.

High scalability: MongoDB is designed to scale horizontally across multiple nodes, which allows it to handle large amounts of data and high traffic loads. It supports sharding, which partitions data across multiple servers, and replica sets, which provide automatic failover and redundancy.

Indexing: MongoDB supports indexing for faster query performance. It offers a variety of index types, including single field, compound, multi-key, text, and geospatial indexes.

Aggregation: MongoDB offers a powerful aggregation framework that allows for advanced data processing and analysis. It supports a variety of operators, including grouping, filtering, sorting, and joining.

Flexibility: MongoDB can be used in a variety of use cases, including web applications, mobile apps, real-time analytics, and IoT applications. It offers a flexible data model and can handle a variety of data types.

Open source: MongoDB is open source, which means it can be used and modified freely. It also has a large and active community of developers, which provides support and contributes to its ongoing development.

Overall, MongoDB is a highly flexible, scalable, and powerful NoSQL database management system that is well-suited for a variety of use cases.

## Question 3: Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
---

Here's a code snippet to connect to MongoDB from Python and create a database and a collection:

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 13.3 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pymongo

In [12]:
# connect to MongoDb

client=pymongo.MongoClient("mongodb+srv://multiversesyndrome:pwskills@cluster0.mn4rzuo.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [13]:
#  Create a database
db=client["pwskills1"]

In [14]:
# Create a collection
collection=db["collection1"]

## Question 4 : Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.
---

In [15]:
data1={"mail_id" : "sudh@gmail.com" ,
       "phone_number" : 2893829282282922
    
}

In [16]:
collection.insert_one(data1)

In [17]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [18]:
collection.insert_many(data3)

In [25]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [26]:
collection.insert_many(random_data)

In [29]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6443da17b63f37cb20df835d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('6443da57b63f37cb20df835e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6443da57b63f37cb20df835f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6443da57b63f37cb20df8360'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6443da57b63f37cb20df8361'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6443da57b63f37cb20df8362'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6443da57b63f37cb20df8363'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6443da57b63f37cb20df8364'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6443da57b63f37cb20df8365'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6443da57b63f37cb20df8366'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6443da57b63f37cb20df8367'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6443da57b63f37cb20df8368'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6443da57b63f37cb20df8369'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [30]:
for i in collection.find_one():
    print(i)

_id
mail_id
phone_number

## Question 5: Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
---

### Example: Finding _id>=3 in  collection created in question 4

In [36]:
for i in collection.find({'_id':{'$gte':'3'}}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

## Question 6: Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
---

The sort() method in pymongo is used to sort the results of a query in MongoDB. It allows you to specify one or more fields to sort by, as well as the order in which to sort them (ascending or descending).

In [42]:
sort=collection.find().sort('name',-1)
for i in sort :
    print(i)

{'_id': ObjectId('6443da57b63f37cb20df8367'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6443da57b63f37cb20df8369'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6443da57b63f37cb20df8365'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6443da57b63f37cb20df8364'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6443da57b63f37cb20df8361'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6443da57b63f37cb20df8363'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6443da57b63f37cb20df8360'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6443da57b63f37cb20df835f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6443da57b63f37cb20df8368'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6443da57b63f37cb20df8362'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6443da57b63f37cb20df8366'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6443da57b63f37cb20df835e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6443da17b63f37cb20df835d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

## Question 7 : Explain why delete_one(), delete_many(), and drop() is used.
---

delete_one(), delete_many(), and drop() are methods used in pymongo to remove documents and collections from a MongoDB database.

1. delete_one(filter, collation=None) deletes a single document from the specified collection that matches the given filter criteria.

2. delete_many(filter, collation=None) deletes all documents from the specified collection that match the given filter criteria.

3. drop() removes an entire collection from the database.

### 1. delete_one:

In [45]:
collection.delete_one({"name":"Amy"})

In [46]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6443da17b63f37cb20df835d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('6443da57b63f37cb20df835f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6443da57b63f37cb20df8360'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6443da57b63f37cb20df8361'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6443da57b63f37cb20df8362'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6443da57b63f37cb20df8363'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6443da57b63f37cb20df8364'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6443da57b63f37cb20df8365'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6443da57b63f37cb20df8366'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6443da57b63f37cb20df8367'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6443da57b63f37cb20df8368'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6443da57b63f37cb20df8369'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [48]:
collection.delete_one({'companyName':'iNeuron'})

In [49]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6443da17b63f37cb20df835d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('6443da57b63f37cb20df835f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6443da57b63f37cb20df8360'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6443da57b63f37cb20df8361'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6443da57b63f37cb20df8362'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6443da57b63f37cb20df8363'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6443da57b63f37cb20df8364'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6443da57b63f37cb20df8365'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6443da57b63f37cb20df8366'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6443da57b63f37cb20df8367'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6443da57b63f37cb20df8368'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6443da57b63f37cb20df8369'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

### 2. delete_many, deleting 'companyName': 'iNeuron'

In [51]:
collection.delete_many({'companyName':'iNeuron'})

In [52]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6443da17b63f37cb20df835d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('6443da57b63f37cb20df835f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6443da57b63f37cb20df8360'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6443da57b63f37cb20df8361'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6443da57b63f37cb20df8362'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6443da57b63f37cb20df8363'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6443da57b63f37cb20df8364'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6443da57b63f37cb20df8365'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6443da57b63f37cb20df8366'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6443da57b63f37cb20df8367'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6443da57b63f37cb20df8368'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6443da57b63f37cb20df8369'), 'name': 'Viola', 'address': 'Sideway 1633'}

### 3. drop

In [ ]:
collection.drop()